@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --color-primary: hsl(90, 80%, 40%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    border-right: 1px solid hsl(0, 0%, 90%);

    a {
        text-decoration: none;
    }

    .logo-wrap {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid hsl(0, 0%, 90%);

        .icon {
            width: 40px;
            height: 40px;
            border-radius: 8px;
            background-color: hsl(90, 100%, 40%);
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(45deg);
            
            &::after {
                font-size: 1.25rem;
                content: "IT";
                font-weight: bold;
                color: white;
                letter-spacing: .05rem;
                transform: rotate(-45deg);
            }
        }

        p {
            text-transform: uppercase;
            letter-spacing: .05rem;
            font-weight: bold;
            color: hsl(90, 100%, 35%);

            span {
                font-size: .6875rem;
                display: block;
                text-transform: none;
                width: 150px;
                color: hsl(0, 0%, 50%);
                font-weight: normal;
                letter-spacing: normal;
                margin-top: 2px;
            }
        }
    }

    > div {
        padding: 16px 0;

        &:nth-child(2) {
            border-bottom: 1px solid hsl(0, 0%, 90%);
        }

        h4 {
            padding: 16px 32px;
        }
        
        nav {
            p {
                padding: 16px 32px;
                cursor: pointer;
                color: hsl(0, 0%, 50%);
    
                &:hover {
                    color: black;
                }
                
                &.selected {
                    font-weight: bold;
                    color: black;
                    background-color: hsl(90, 80%, 80%);
                }
            }
        }
    
        ul {
            // padding: 0
            list-style: none;
    
            li {
                padding: 12px 32px;
                cursor: pointer;
                color: hsl(0, 0%, 50%);
                border-left: 4px solid transparent;

                &.selected {
                    border-color: var(--color-primary);
                    color: var(--color-primary);
                    font-weight: bold;
                }
    
                &:hover:not(.selected) {
                    color: black;
                }
            }
        }
    }

}

main {
    margin-left: 280px;
    height: 100%;

    header {
        position: relative;
        height: 80px;
        border-bottom: 1px solid hsl(0, 0%, 90%);
        padding: 8px;
        display: flex;
        justify-content: space-between;
        
        .dropdown,
        .dropdown-menu {
            display: inline-flex;
            align-items: center;
            padding: 12px 16px 12px 12px;
            border-radius: 8px;
            cursor: pointer;
            height: 64px;
            // border: 1px solid hsl(0, 0%, 90%);

            .icon {
                width: 40px;
                height: 40px;
                border-radius: 8px;
                background-color: hsl(0, 0%, 90%);
                margin-right: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: .75rem;
                font-weight: bold;
                color: hsl(0, 0%, 50%);
            }

            i {
                margin-left: 16px;
                color: hsl(0, 0%, 70%);
            }

            &:hover {
                background-color: hsl(0, 0%, 97%);

                i {
                    color: black;
                }
            }
        }

        .dropdown-menu {
            position: absolute;
            top: 7px;
            left: 7px;
            list-style: none;
            flex-flow: column wrap;
            background-color: white;
            border: 1px solid hsl(0, 0%, 90%);
            align-items: flex-start;
            padding: 0;
            width: 420px;
            height: auto;
            // box-shadow: 0 8px 16px hsl(0, 0%, 90%);
            overflow: hidden;
            z-index: 1;

            &:not(.open) {
                display: none;
            }

            &:hover {
                background-color: white;
            }

            li {
                display: flex;
                align-items: center;
                padding: 12px 24px 12px 12px;
                width: 100%;

                &.selected {
                    background-color: hsl(0, 0%, 97%);
                }

                &:hover {
                    background-color: hsl(0, 0%, 97%);
                }

                &:not(:last-child) {
                    // border-bottom: 1px solid hsl(0, 0%, 90%);
                }
            }
        }

        .user {
            display: flex;
            align-items: center;
            margin-right: 16px;

            p {
                color: hsl(0, 0%, 50%);
            }

            .icon {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: hsl(0, 0%, 90%);
                margin-left: 16px;
            }
        }
    }

    section {
        height: calc(100% - 80px);
        width: 100%;
        background-color: hsl(0, 0%, 95%);
        display: flex;
        
        &[data-section="project"] {
            display: block;

            .title {
                padding: 32px 0 0 32px;

                p {
                    display: inline-block;
                    color: var(--color-primary);
                    font-weight: bold;
                    margin-bottom: 12px;
                    cursor: pointer;

                    i {
                        margin-right: 8px;
                    }

                    &:hover {
                        color: black;
                    }
                }

                h2 {
                    margin-bottom: 0;
                    display: flex;
                    align-items: center;

                    span {
                        margin-left: 8px;
                    }
                }
            }
        }
        
        .data {
            flex: 1;
            padding: 32px 24px;
            overflow: auto;
            scroll-behavior: smooth;

            > div {
                position: relative;
            }

            .box {
                cursor: pointer;
                border: 4px solid transparent;

                &.selected {
                    border-color: hsl(86, 72%, 64%);
                    box-shadow: 0 12px 24px hsl(0, 0%, 90%);

                    h3 {
                        // color: var(--color-primary);
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 32px;
                }

                h3 {
                    margin-bottom: 16px;
                }

                .chart {
                    height: 320px;
                    background-color: hsl(0, 0%, 95%);
                    border-radius: 4px;
                }
            }
        }
        
        .info {
            flex: 0 0 40%;
            border-left: 1px solid hsl(0, 0%, 90%);
            background-color: white;
            display: flex;
            flex-flow: column wrap;

            h4 {
                margin-bottom: 12px;
            }
            
            .budget {
                position: relative;
                padding: 32px 24px;
                border-bottom: 1px solid hsl(0, 0%, 90%);

                h2 {
                    min-height: 30px;
                    padding-right: 32px;

                    &:empty {
                        background-color: hsl(0, 0%, 95%);
                        border-radius: 8px;
                        flex: 1;

                        & ~ i {
                            display: none;
                        }
                    }
                }

                i {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    padding: 16px;
                    color: hsl(0, 0%, 85%);
                    cursor: pointer;

                    &:hover {
                        color: black;
                    }
                }

                .values {
                    display: flex;
                    margin-bottom: 24px;

                    div {
                        &:not(:last-child) {
                            margin-right: 40px;
                        }

                        p {
                            font-size: .75rem;
                            color: hsl(0, 0%, 50%);
                            text-transform: uppercase;

                            strong {
                                font-size: 1rem;
                                color: black;
                            }

                            span {
                                font-size: .75rem;
                                color: hsl(0, 0%, 50%);
                                margin-left: 8px;
                            }
                        }
                    }
                }
                
                .chart {
                    &:empty {
                        height: 120px;
                        background-color: hsl(0, 0%, 95%);
                        border-radius: 4px;
                        margin-top: 16px;
                    }

                    ul {
                        list-style: none;

                        li {
                            display: flex;
                            align-items: baseline;
                            font-size: .875rem;
                            font-weight: bold;

                            &:not(:last-child) {
                                margin-bottom: 8px;
                            }
                            
                            span {
                                margin-left: 8px;
                                font-size: .75rem;
                                font-weight: normal;
                                color: hsl(0, 0%, 50%);
                            }
                            
                            &:not(:last-child) {
                                margin-right: 16px;
                            }
                            
                            &::before {
                                content: "";
                                width: 8px;
                                height: 8px;
                                background-color: var(--color-primary);
                                border-radius: 50%;
                                margin-right: 8px;
                                align-self: center;
                                flex-shrink: 0;
                            }

                            &:nth-child(1) {
                                &::before {
                                    background-color: hsl(87, 52%, 33%);
                                }
                            }

                            &:nth-child(2) {
                                &::before {
                                    background-color: hsl(87, 72%, 64%);
                                }
                            }

                            &:nth-child(3) {
                                &::before {
                                    background-color: hsl(87, 100%, 9%);
                                }
                            }
                        }
                    }

                    .bar {
                        display: flex;
                        height: 12px;
                        background-color: hsl(0, 0%, 95%);
                        border-radius: 6px;
                        margin-bottom: 12px;
                        overflow: hidden;

                        div {
                            height: 100%;

                            &:nth-child(1) {
                                background-color: hsl(87, 52%, 33%);
                            }

                            &:nth-child(2) {
                                background-color: hsl(87, 72%, 64%);
                            }

                            &:nth-child(3) {
                                background-color: hsl(87, 100%, 9%);
                            }
                        }
                    }
                }
            }
            
            .projects {
                flex: 1;
                padding: 32px 24px;
                overflow: auto;

                #projects {
                    > div:empty {
                        height: 120px;
                        background-color: hsl(0, 0%, 95%);
                        border-radius: 8px;
    
                        &:not(:last-child) {
                            margin-bottom: 12px;
                        }
                    }
                }

                .box {
                    position: relative;
                    cursor: pointer;
                    border: 1px solid hsl(0, 0%, 90%);

                    &:hover {
                        background-color: hsl(0, 0%, 97%);

                        h3 {
                            color: var(--color-primary);
                        }
                        
                        i {
                            color: var(--color-primary);
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }

                    h3 {
                        align-items: center;
                        margin-bottom: 8px;

                        .tag {
                            margin-left: 8px;
                            vertical-align: 2px;
                        }
                    }

                    i {
                        position: absolute;
                        top: 29px;
                        right: 16px;
                        font-size: .75rem;
                        color: hsl(0, 0%, 80%);
                    }

                    p {
                        font-size: .875rem;
                        line-height: 1.6em;
                        color: hsl(0, 0%, 50%);
                        padding-right: 32px;
                    }
                }
            }
        }

        .tabs {
            display: flex;
            list-style: none;
            padding: 16px 32px;
            width: 100%;

            li {
                padding: 12px 0;
                color: hsl(0, 0%, 50%);
                cursor: pointer;

                &:not(:last-child) {
                    margin-right: 32px;
                }

                &.selected {
                    color: var(--color-primary);
                    font-weight: bold;
                    border-bottom: 4px solid hsl(90, 100%, 40%);
                }

                &:not(.selected):hover {
                    color: black;
                }
            }
        }
    }
}

i {
    font-style: normal;
}

.box {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    // box-shadow: 0 2px 4px hsl(0, 0%, 90%);
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    text-transform: uppercase;
    font-size: .875rem;
    color: hsl(0, 0%, 50%);
    letter-spacing: .04rem;
}

.tag {
    font-weight: normal;
    font-size: .75rem;
    padding: 4px 8px;
    border-radius: 4px;
    color: hsl(90, 80%, 40%);
    background-color: hsl(90, 90%, 90%);

    &::after {
        content: attr(data-tag);
    }

    &[data-tag="sysadmin"] {
        color: hsl(200, 80%, 30%);
        background-color: hsl(200, 90%, 90%);
        
        &::after {
            content: "Sysadmin";
        }
    }

    &[data-tag="iot"] {
        color: hsl(20, 80%, 30%);
        background-color: hsl(20, 90%, 85%);
        
        &::after {
            content: "IoT";
        }
    }

    &[data-tag="web"] {
        color: hsl(260, 80%, 30%);
        background-color: hsl(260, 90%, 90%);
        
        &::after {
            content: "Web";
        }
    }
}

.tab {
    padding: 32px;
}

.hidden {
    display: none !important;
}
